@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

body {
    align-items: center;
    text-align: center;
    align-content: center;
    margin: 0 auto;
}

.main-div-body {
    background-image: url("./img/world/main.jpg");
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    display: flex;
    justify-content: center;
    min-height: 960px;
    font-family: 'New Tegomin', serif;
}

@keyframes bounce {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-15px);
    }
}

@-webkit-keyframes bounce {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-15px);
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.login {
    text-align: center;
    width: 35%;
    min-width: 300px;
    height: 400px;
    margin-top: 25%;
    font-weight: 900;
    border-radius: 25px;
    animation: fadein 2s;
    -webkit-animation: fadein 2s;
}

@media (max-width:425px) {
    .login {
        margin-top: 70%;
    }
}

@media screen and (min-width:670px) and (max-width: 900px) {
    .login {
        margin-top: 55%;
    }
}

.a-createAcc {
    color: wheat;
}

input {
    text-align: center;
    font-family: 'New Tegomin', serif;
    background-color: transparent;
    padding: 5%;
    border-radius: 10px;
    border-top: none;
    border-right: none;
    border-bottom: solid gray 1px;
    border-left: solid black 2px;
    font-size: 40px;
    font-weight: 800;
}

input:after {
    background-color: rgba(128, 128, 128, 0.116);
}

h1 {
    font-family: 'New Tegomin', serif;
    font-weight: bolder;
    text-shadow: 2px 10px gray;
}

h2 {
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
}

#login-bnt {
    font-family: 'New Tegomin', serif;
    border-radius: 25px;
    box-shadow: rgb(168, 166, 165) 1px 2px 12px 1px;
    text-shadow: gray 1px 2px 12px 1px;
    background: linear-gradient(red, yellow);
}

#login-bnt:hover {
    color: rgb(197, 183, 181);
}

#login-bnt:focus {
    background-color: rgb(160, 146, 144);
    color: white;
}

.CharacterCreation {
    display: flex;
    text-align: center;
    justify-content: center;
}

.panel-account {
    justify-content: center;
    display: inline-block;
}

.card-class:hover {
    box-shadow: rgb(105, 105, 105) 1px 1px 4px 4px;
}

.card-img {
    height: 40%;
    background-image: url("./img/guerreiro.jpg");
    background-color: yellow;
    background-position: top;
    background-size: cover;
    border-radius: 10px;
    -moz-border-radius: 10px;
}

.card-img-2 {
    height: 40%;
    background-image: url("./img/paladino2.jpg");
    background-color: yellow;
    background-position: top;
    background-size: cover;
    border-radius: 10px;
    -moz-border-radius: 10px;
}

.card-class {
    border-radius: 10px;
    -moz-border-radius: 10px;
    border-style: solid 2px;
    background-color: wheat;
    height: 500px;
    width: 200px;
    opacity: 0.9;
    margin: 2% 2% 2% 2%;
    animation: fadein 2s;
    -webkit-animation: fadein 2s;
    font-family: 'New Tegomin', serif;
    border: solid black 2px;
}

.card-class :after {
    position: absolute;
    width: 100%;
    height: 8px;
    border-radius: 50%;
    left: 0;
    bottom: 0px;
    box-shadow: 0 30px 20px rgba(0, 0, 0, .3);
}

.card-content {
    padding: 5%;
    text-shadow: gray -2px 1px;
}

.card-class:active {
    box-shadow: rgb(255, 255, 255) 1px 1px 4px 4px;
}

.special-details {
    background-image: url('../src/img/pergaminho2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 370px;
    height: 500px;
    position: relative;
    margin-left: 25%;
    margin-top: -550px;
    background-color: whitesmoke;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 5%;
    font-family: 'New Tegomin', serif;
}

.character-creation {
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    background-size: cover;
    min-height: 960px;
}

@media(max-width:425px) {
    .special-details {
        margin-left: 1%;
    }
}

.center-details {
    display: inline-flex;
    margin-top: 80px;
    margin-left: 0px;
}

.botton-details {
    font-family: 'New Tegomin', serif;
    display: inline-flex;
}

.level-span {
    font-size: 50px;
    font-family: 'New Tegomin', serif;
    border-radius: 100%;
    background-color: red;
    color: white;
    width: 55px;
    margin-left: 5px;
}

.panel-head {
    display: inline-flex;
}

.character-panel {
    justify-content: left;
    text-align: left;
    width: 400px;
    background-color: whitesmoke;
    opacity: 0.7;
    border-radius: 10px;
    animation: fadein 2s;
    -webkit-animation: fadein 2s;
}

.character-select {
    display: inline-flex;
    animation: fadein 2s;
    -webkit-animation: fadein 2s;
}

button {
    font-family: 'New Tegomin', serif;
    border-radius: 10px;
    padding: 4%;
    border: none;
    box-shadow: rgb(134, 116, 136) -6px 4px;
}

.world {
    background-image: url("./img/world/world.jpg");
    min-width: 1980px;
    min-height: 1080px;
    background-repeat: no-repeat;
    background-size: cover;
    animation: fadein 1s;
    -webkit-animation: fadein 1s;
}

.registration {
    color: white;
}

.smallp {
    font-size: small;
    color: red;
    background-color: yellow;
    display: none;
}

.registration-div {
    min-height: 500px;
    max-height: 800px;
}

.registration-page {
    margin: 0 auto;
    text-align: center;
    align-items: center;
    background-image: linear-gradient(to top, #41beb8 0%, #f89bb8 100%);
    min-width: 345px;
    width: 30%;
    min-height: 60%;
    opacity: 0.9;
    border-radius: 10px;
    box-shadow: #79656b -25px 17px;
}

.registration-input {
    border: none;
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    font-size: small;
    width: 90%;
    padding: 2%;
    box-shadow: rgb(134, 116, 136) -6px 4px;
}

.registration-title {
    opacity: 0.7;
    min-width: 400px;
    margin-top: 4%;
}

input {
    padding: 2%;
}

#pass4 {
    float: right;
    z-index: 10;
}

@media screen and (min-height:900px) {
    .registration-page {
        margin-top: 10%;
    }
    .main-div-body {
        min-height: 1360px;
    }
}

@media screen and (min-width:1000px) {
    .mainleft {
        margin-top: 200px;
        margin-left: 2%;
        width: 15%;
        height: 550px;
        max-height: 700px;
    }
    .maincenter {
        align-self: center;
        height: 700px;
        display: inline-block;
        margin: 0 auto;
        width: 40%;
        margin-top: -800px;
    }
    .main {
        display: flex;
    }
    .mainright {
        float: right;
        min-width: 180px;
        width: 25%;
        height: 550px;
        max-height: 700px;
        background-color: bisque;
        display: flex;
        margin-top: 200px;
        margin-left: 2%;
    }
    .first {
        width: 25%;
        display: inline-block;
        text-align: center;
        border: solid 2px orange;
        border-radius: 50%;
    }
    .strategist {
        width: 100%;
    }
    .second {
        width: 25%;
        display: inline-block;
        text-align: center;
        border: solid 2px orange;
        border-radius: 50%;
    }
    .tird {
        width: 25%;
        display: inline-block;
        text-align: center;
        border: solid 2px orange;
        border-radius: 50%;
    }
}

.mainleft {
    background: rgba(221, 221, 221, 0.123);
    padding: 2%;
    text-align: justify;
    min-width: 180px;
}

.title {
    text-align: left;
}

.circle {
    border-radius: 50%;
    text-align: center;
    margin: 0 auto;
    padding: 1%;
    border: solid 2px orange;
    width: 20%;
}

.classtop {
    padding: 2%;
    display: flex;
}

.main {
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    width: cover;
    background-size: 100%;
    min-height: 1900px;
    margin: -10% 0% 0% 0%;
    padding: 2%;
    font-family: 'New Tegomin', serif;
}

#titledesciption {
    font-weight: 700;
    font-size: xx-large;
}

button:active {
    transform: scale(0.7);
}

.mainright {
    float: right;
    min-width: 180px;
    height: 550px;
    max-height: 700px;
    background-color: bisque;
    display: block;
    margin-top: 200px;
    margin-left: 2%;
    background: rgba(221, 221, 221, 0.123);
    padding: 2%;
}

.classechoosen {
    justify-content: space-between;
    display: flex;
}

#heroname {
    width: 100%;
}

#c2,
#c3 {
    display: none;
    animation: mymove 1s;
}

#c1 {
    width: 90%;
    height: 90%;
    animation: mymove 1s;
}

.second:active,
.first:active,
.tird:active {
    transform: scale(0.7);
}

.char {
    width: 100%;
    min-height: 500px;
    transition: width 2s, height 2s, transform 2s;
}

.charTransition {
    max-width: 45%;
    height: 550px;
}

@keyframes mymove {
    from {
        width: 0%;
        height: 0%;
    }
    to {
        width: 100%;
        height: 100%;
    }
}